.fifth-body{
    height: 500px;
    background-color: blue;
    background-image: url('https://picsum.photos/id/20/700/300');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: fixed; */
}
.fifth-body .item{
    height: 200px;
    background-color: aqua;
    position: fixed;
    top: 150rem;
    z-index: 90;
}