.fifth-body{
    height: 500px;
    /* background-color: blue; */
    /* background-image: url('https://picsum.photos/id/20/700/300'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    opacity: 0.6;
    /* position: fixed; */
}
.fifth-body .item{
    height: 200px;
    /* background-color: aqua; */
    /* position: fixed; */
    top: 150rem;
    /* z-index: 90; */
}
@media screen and (max-width:800px) {
    .fifth-body{
        display: none;
    }
}