.fifth-body{
    height: 500px;
    /* background-color: blue; */
    /* background-image: url('https://picsum.photos/id/20/700/300'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.912);
    opacity: 0.58;
    display: flex;
    justify-content: center;
    
    /* position: fixed; */
}
.fifth-body .item{
    height: 200px;
    /* background-color: aqua; */
    color:white;
    text-align: center;
    margin-top: 13%;
    /* text-align: justify; */
    margin-left: 30px;
    
    /* font-weight: bolder; */
    /* position: fixed; */
    /* top: 150rem; */
    /* z-index: 90; */
}
@media screen and (max-width:800px) {
    .fifth-body{
        display: none;
    }
}