.detail-one{
    /* background-color: silver; */
    margin-top: 100px;
    /* height: 30rem; */
    display: flex;
    justify-content: space-between;
    padding: 50px;
    
}
.detail-one-item-1{
  width:30%;
  height: 40rem;
  background-color: aqua;
  position: fixed;
  border-radius: 30px;
 
}
.detail-one-item-2{
   /* height: 50rem; */
   /* background-color: blue; */
   margin-left: 40%;
   width: 60%;
}

.photo-1{
    height: 500px;
    width: 80%;
    border-radius: 30px;
    background-color: azure;
    margin-bottom: 15px;
}
.scroll-photo{
    height: 150px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    overflow-x: scroll;
}
.scroll-photo div{
   min-width: 100px;
    background-color: black;
    margin: 5px;
    border-radius: 20px;
}
.scroll-photo::-webkit-scrollbar{
    width: 0px;
}
@media screen and (min-width:900px) {
  
}
@media screen and (max-width:600px) {
    .detail-one-item-1{
        width: 200px;
    }
}