.detail-one{
    background-color: silver;
    margin-top: 100px;
    /* height: 30rem; */
    display: flex;
    justify-content: end;
    padding: 20px;
    /* width: 800px; */
    z-index: -3;
    background: transparent;
    
}
.detail-one-item-1{
  width:30%;
  height: 45rem;
  /* background-color: aqua; */
  position: fixed;
  border-radius: 30px;
  z-index: -1;
  margin-left: 50px;
  padding: 50px;
 text-align: end;
}
.detail-one-item-3{
    height: 30rem;
    background-color: red;
}
.scroll-container{
    display: flex;
    align-items: center;
}
.btn{
    /* background-color: red; */
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
    color: blue;
}
.btn :hover{
    background-color: silver;
    cursor: pointer;
}
.detail-one-item-2{
   /* height: 50rem; */
   /* background-color: blue; */
   /* margin-left: 40%; */
   width: 60%;
   /* z-index: -2; */
}

.photo-1{
    height: 500px;
    width: 80%;
    border-radius: 30px;
    background-color: rgb(27, 107, 107);
    margin-bottom: 15px;
}
.scroll-photo{
    /* height: 150px; */
    width: 95%;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    overflow-x: auto;
}
.scroll-photo div{
    min-width: 250px;
    height: 160px;
    background-color: black;
    margin: 5px;
    border-radius: 25px 25px 25px 5px;
}
.scroll-photo::-webkit-scrollbar{
    width: 0px;
}

@media screen and (min-width:900px) {
  
}
@media screen and (max-width:1200px) {
    .detail-one-item-1{
        /* width: 100px; */
        /* background-color: blue; */
        display: none;
    }
    .detail-one-item-2{
        width: 100%;
    }
}