.header{
    display: flex;
    background-color:white;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 100px;
    position: fixed;
    top: 0px;
    z-index: 11;
    box-shadow: 2px 2px 30px silver;
}
.head-container{
display: flex;
justify-content: space-between;
/* background-color: bisque; */
width: 100%;
margin: 10px 30px 10px 60px;
padding: 15px;
align-items: center;
}
.lang-cont:hover{
    border: 2px solid rgb(233, 12, 12);
    border-radius: 15px 15px 15px 2px;
}
.head-container-right{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.head-container-right div{
    margin-right: 20px;
}