*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}
.fixed{
 background-image: url('/src/Assets/city.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 
 position: fixed;
 height: 60rem;
 width: 100%;
 z-index: -11;
}
@media screen and (max-width:800px) {
    .fixed{
      height: 0px;
    }
}
