*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    background-color:white;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 100px;
    position: fixed;
    top: 0px;
    z-index: 11;
}
.boarding{
    /* background-image: url('https://picsum.photos/700'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(174, 154, 129);

    height: 700px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.middle-section{
     position: relative; 
     top: 600px;
     display: flex;
     align-items: center;
     background-color: aliceblue;
     justify-content: space-around;
     font-family: "Chivo", sans-serif;
  
   
}
.bodyy{
    margin-top: 20px;
    /* margin-left: 30px; */
    width: 800px;
    /* background-color: aqua; */
    max-height: 550px;
    display: flex;
    overflow-x: scroll;
   
}
.bodyy::-webkit-scrollbar{
    width: 0px;
}
.bodyy .dv1{
    background-color: blue;
    height: 500px;
    margin: 5px;
    min-width: 300px;
    border-radius: 30px;
    background-image: url('https://picsum.photos/500/500'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}