.middle-section{
    /* position: relative;  */
    /* top: 600px; */
   
    display: flex;
    align-items: center;
    background-color: aliceblue;
    justify-content: end;
    font-family: "Chivo", sans-serif;
 
  
}
.bodyy{
   margin: 20px 40px 10px 70px;
  
   width: 800px;
   /* background-color: aqua; */
   max-height: 550px;
   display: flex;
   overflow-x: scroll;
  
}
.bodyy::-webkit-scrollbar{
   width: 0px;
}
.bodyy .dv1{
   background-color: white;
   height: 450px;
   margin: 10px;
   min-width: 250px;
   border-radius: 30px;
   background-image: url('https://picsum.photos/500/500'); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
@media screen and (max-width:600px) {
    .bodyy .dv1{

        min-width: 200px;
        height: 200px;
        margin: 10px;
    }

    .bodyy{
        margin:0px;
        width: 300px;
       
    }
   
}