.fourth-body{
    height: 30rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Chivo", sans-serif;
    padding: 30px;
    padding-right: 200px;
    
}
.f-container{
    margin: 20px 40px 10px 70px;
    /* background-color: aqua; */
    max-height: 550px;
    display: flex;
    overflow-x: scroll;
}


.f-container::-webkit-scrollbar{
    width: 0px;
}

.f-description{
    text-align:end; 
    /* background-color:red; */
    width:80%;
    margin:0px;

}


.f-body-img{
    /* height:280px; */
    width: 17rem;
    height: 15rem;
    border-radius: 30px 30px 30px 10px;
    margin: 10px;
}
@media screen and (max-width:600px) {


    .f-container{
        margin:0px;
        max-width: 18rem;
        height: 13rem;
        /* background-color: aqua; */
       
        /* justify-content: center; */
       
    }
    .f-body-img{
      
        height: 10rem;
        width: 15rem;
    }

    .fourth-body{
       /* background-color: blue; */
        display: grid;
        padding-right: 20px;
    
        
    }
   
}