.sixth-body .dv-one{
    height: 400px;
    background-color:white;
    border-radius: 0px 0px 0px 250px;
    box-shadow: -4px 7px 40px 15px silver;
    display: flex;
    padding: 30px;
    justify-content: center;
}
.sixth-body .dv-two{
    height: 70px;
}
.sixth-body .dv-one div{
    height: 200px;
    /* background-color: blue; */
    width: 200px;
    text-align: center;
}