.sixth-body .dv-one{
    height: 400px;
    background-color:white;
    border-radius: 0px 0px 0px 200px;
    box-shadow: -4px 12px 20px 1px silver;
    display: flex;
    padding: 70px 30px;
    justify-content: center;
    
}
.sixth-body{
    background-color: white;
    
}
.sixth-body .dv-one div{
    height: 200px;
    /* background-color: blue; */
    width: 400px;
    text-align: center;
}
.sixth-body .div-two{
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sixth-body .div-two div{
    height: 50px;
    width: 400px;
    /* background-color: rgb(96, 184, 184); */
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
@media screen and (max-width:600px) {

    .sixth-body .dv-one{
        /* background-color: aqua; */
        height: 220px;
        font-size: 13px;
        padding: 20px;
    }
    .sixth-body .div-two{
        /* background-color: blue; */
       font-size: 10px;
       padding: 0px;
    }
    .sixth-body .div-two div{
    
        margin: 0px;
        justify-content: center;
    }
}