.sixth-body .dv-one{
    height: 400px;
    background-color:white;
    border-radius: 0px 0px 0px 200px;
    box-shadow: -4px 12px 20px 1px silver;
    display: flex;
    padding: 70px 30px;
    justify-content: center;
}
.sixth-body{
    background-color: white;
    z-index: 10;
}
.sixth-body .dv-one div{
    height: 200px;
    /* background-color: blue; */
    width: 400px;
    text-align: center;
}
.sixth-body .div-two{
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sixth-body .div-two div{
    height: 50px;
    width: 400px;
    /* background-color: rgb(96, 184, 184); */
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}